/* ================================================= */
/*                  HOME - HERO SECTION              */
/* ================================================= */

.hero {
    position: relative;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: #ffffff;
    overflow: hidden;
}

.hero-logo {
    position: absolute;
    width: 450px;
    opacity: 0.11;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-family: 'Cinzel', serif;
    color: #7a1f1f;
    font-size: 3rem;
}

.hero p {
    color: #312a2a;
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.8;
}

/* ================================================= */
/*            HOME - ABOUT & CONTACT SECTION         */
/* ================================================= */

.about-contact {
    position: relative;

    display: flex;
    justify-content: center;

    gap: 120px;

    padding: 40px 50px;

    background-color: white;
}

.about-box,
.contact-box {
    flex: 1;

    position: relative;
    z-index: 2;
}

.about-box h2,
.contact-box h2 {
    font-family: 'Cinzel', serif;
    color: #7a1f1f;

    font-size: 30px;
    font-weight: bold;

    margin-bottom: 20px;
}

.about-box p,
.contact-box p {
    font-size: 18px;
    font-weight: 700;

    color: #242121;

    line-height: 1.8;
}

.contact-box {
    text-align: right;
}

.about-logo {
    position: absolute;

    width: 300px;
    opacity: 0.2;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

/* ================================================= */
/*              HOME - WHATSAPP BUTTON               */
/* ================================================= */

.whatsapp-btn {
    position: fixed;

    bottom: 20px;
    right: 20px;

    background-color: #25D366;
    color: white;

    padding: 12px 18px;

    border-radius: 30px;

    text-decoration: none;
    font-weight: bold;

    z-index: 999;
}

.mobile-company-full{
    display:none;
}