/* ================================================= */
/*                     FONTS                          */
/* ================================================= */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');

@font-face {
    font-family: "RedDragonFont";
    src: url("../assets/fonts/SCRIPTBL.TTF") format("truetype");
}

/* ================================================= */
/*                  GLOBAL SETTINGS                   */
/* ================================================= */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #ffffff;
}

body h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    color: #d60000;
}

/* ================================================= */
/*                FLOATING WHATSAPP                  */
/* ================================================= */

.floating-whatsapp {

    position: fixed;

    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    background: #25D366;
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    font-size: 30px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.3);

    z-index: 9999;

    transition: 0.3s;
}

.floating-whatsapp:hover {

    transform: scale(1.1);

}