<nav>

    <div class="nav-left">

        <div class="logo">
            <img src="../images/RDR_WWW_logo.PNG" alt="Red Dragon Logo">
        </div>

        <div class="company-info">
            <h1 class="company-name">التنين الأحمر</h1>

            <p class="company-subtitle">
                للتجارة العامة وتجارة المواد <br>
                الكيمياوية المحدوده
            </p>
        </div>

    </div>
    
    <div class="nav-right">

        <button class="menu-toggle">
            ☰
        </button>

        <div class="mobile-menu">
            <a href="ar_index.html#home">الرئيسية</a>
            <a href="ar_index.html#products">المنتجات</a>
            <a href="ar_index.html#about">من نحن</a>
            <a href="ar_index.html#contact">اتصل بنا</a>
            <a href="ar_cart.html" id="cartLink">السلة (0)</a>
            <a href="../index.html">English</a>
        </div>

    </div>

</nav>
